<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          xmlns:tools="http://schemas.android.com/tools">

  <!-- https://developer.android.com/studio/build/manifest-merge.html -->
  <application>
    <!--This meta-data tag is required to use Google Play Services.-->
    <meta-data
      android:name="com.google.android.gms.version"
      android:value="@integer/google_play_services_version" />
  </application>

</manifest>